{% extends "base.html" %} {% block content %}

    <h1>Referral Details</h1>

    <p><strong>Student ID:</strong> {{ referral.student_id }}</p>
    <p><strong>Student Name:</strong> {{ referral.student_name }}</p>
    <p><strong>Referral Info:</strong> {{ referral.referral_info }}</p>
    <p><strong>Referral Date:</strong> {{ referral.referral_date.strftime('%Y-%m-%d') }}</p>

    <a href="{{ url_for('edit_referral', student_id=referral.student_id) }}">
        <button>Edit Referral Info</button>
    </a>

    <a href="{{ url_for('home') }}">Back to Home</a>


{% endblock %}